#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cursor {
  display: flex;
  justify-content: space-evenly;
}

.pointer-img {
  height: 100px;
  width: 100px;
  background: #fff;
  border-radius: 16%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-img {
  height: 100px;
  width: 100px;
  background: #fff;
  border-radius: 16%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center
}

#img {
  height: 100px;
  width: auto;
}